<style>
	.txt-negative{
		background: #000;
	}
	h4 {
		background: #0075B0;
	}
</style>

<div class="idx">

	
<%= link_to "Page 1", "/hs/infinity_framework/survey/page_1", target:'blank' %> <br />
<%= link_to "Page 2", "/hs/infinity_framework/survey/page_2", target:'blank' %> <br />
<%= link_to "Page 3", "/hs/infinity_framework/survey/page_3", target:'blank' %> <br />
<%= link_to "Page 4", "/hs/infinity_framework/survey/page_4", target:'blank' %> <br />
<%= link_to "Page 5", "/hs/infinity_framework/survey/page_5", target:'blank' %> <br />
<%= link_to "Page 6", "/hs/infinity_framework/survey/page_6", target:'blank' %> <br />
<%= link_to "Page 7", "/hs/infinity_framework/survey/page_7", target:'blank' %> <br />
<%= link_to "Page 8", "/hs/infinity_framework/survey/page_8", target:'blank' %> <br />
<%= link_to "Page 9", "/hs/infinity_framework/survey/page_9", target:'blank' %> <br />
<%= link_to "Page 10", "/hs/infinity_framework/survey/page_10", target:'blank' %> <br />
<%= link_to "Page 11", "/hs/infinity_framework/survey/page_11", target:'blank' %> <br />
<%= link_to "Page 12", "/hs/infinity_framework/survey/page_12", target:'blank' %> <br />
<%= link_to "Page 13", "/hs/infinity_framework/survey/page_13", target:'blank' %> <br />
<%= link_to "Page 14", "/hs/infinity_framework/survey/page_14", target:'blank' %> <br /> 
<%= link_to "Page 15", "/hs/infinity_framework/survey/page_15", target:'blank' %> <br />
<%= link_to "Page 16", "/hs/infinity_framework/survey/page_16", target:'blank' %> <br />
<%= link_to "Page 17", "/hs/infinity_framework/survey/page_17", target:'blank' %> <br />
<%= link_to "Page 18", "/hs/infinity_framework/survey/page_18", target:'blank' %> <br />
<%= link_to "Page 19", "/hs/infinity_framework/survey/page_19", target:'blank' %> <br />
<%= link_to "Page 20", "/hs/infinity_framework/survey/page_20", target:'blank' %> <br />
<%= link_to "Page 21", "/hs/infinity_framework/survey/page_21", target:'blank' %> <br />
<%= link_to "Page 22", "/hs/infinity_framework/survey/page_22", target:'blank' %> <br />
<%= link_to "Page 23", "/hs/infinity_framework/survey/page_23", target:'blank' %> <br /> 
<%= link_to "Page 24", "/hs/infinity_framework/survey/page_24", target:'blank' %> <br />
<%= link_to "Page 25", "/hs/infinity_framework/survey/page_25", target:'blank' %> <br />
<%= link_to "Page 26", "/hs/infinity_framework/survey/page_26", target:'blank' %> <br />
<%= link_to "Page 27", "/hs/infinity_framework/survey/page_27", target:'blank' %> <br />
<%= link_to "Page 28", "/hs/infinity_framework/survey/page_28", target:'blank' %> <br />
<%= link_to "Page 29", "/hs/infinity_framework/survey/page_29", target:'blank' %> <br />
<%= link_to "Page 30", "/hs/infinity_framework/survey/page_30", target:'blank' %> <br />
<%= link_to "Page 31", "/hs/infinity_framework/survey/page_31", target:'blank' %> <br />
<%= link_to "Page 32", "/hs/infinity_framework/survey/page_32", target:'blank' %> <br />
<%= link_to "Page 33", "/hs/infinity_framework/survey/page_33", target:'blank' %> <br />
<%= link_to "Page 34", "/hs/infinity_framework/survey/page_34", target:'blank' %> <br />
<%= link_to "Page 35", "/hs/infinity_framework/survey/page_35", target:'blank' %> <br />


</div>