<div class="container">
  <div class="step">
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" type="button" class="btn <%= raw (active == 1) ? 'btn-primary' : '' %> btn-circle">1</a>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" type="button" class="btn <%= raw (active == 2) ? 'btn-primary' : '' %> btn-circle">2</a>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" type="button" class="btn <%= raw (active == 3) ? 'btn-primary' : '' %> btn-circle" disabled="disabled">3</a>
        </div>
        <div class="stepwizard-step">
          <a href="#step-4" type="button" class="btn <%= raw (active == 4) ? 'btn-primary' : '' %> btn-circle" disabled="disabled">4</a>
        </div>
        <div class="stepwizard-step">
          <a href="#step-5" type="button" class="btn <%= raw (active == 5) ? 'btn-primary' : '' %> btn-circle" disabled="disabled">5</a>
        </div>
      </div>
    </div>
  </div>
</div>