<header>
    <div class="pull-right">
        <a href="#" class="tlink">Need help?</a>
    </div>
    <br class="clear">
</header>
<div id="banner" class="container">
    <div class="row">
        <div class="pull-left intro">
            <h1>Welcome to the King Personal Impact Experience</h1>
            <div class="subtext">
                <p>Here are the four key steps to complete your experience and recieve your feedback report.</p>
            </div>
        </div>
        <div class="pull-right flag">
            <p>The King Personal Impact Experience has been designed to give you a unique insight into how others at work experience you and is powered by the Truth Teller report.</p>
            <p>Have a look at the timeline, check/add your personal information and then choose which experience you want to participate in.</p>
        </div>
        <br class="clear">
        <div class="intro">
            <div class="subtext willshow">
                <p>Here are the four key steps to complete your experience and recieve your feedback report.</p>
            </div>
        </div>
        <div class="boxes">
            <div class="pbox">
                <div class="num">1</div>
                <dl>
                    <dt class="dt__header--multi">Getting Started</dt>
                    <dd>
                        <p><b>Check and Choose...</b></p>
                        <p>Check your details below are correct and then make sure you choose the appropriate questionnaire.</p>
                    </dd>
                </dl>
            </div>
            <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/arr.png', class: 'arr' %>
                <br class="arrd">
                <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/arr-down.png', class: 'arrd' %>
                    <br class="arrd">
                    <div class="pbox">
                        <div class="num">2</div>
                        <dl>
                            <dt class="dt__header--multi">Nominating</dt>
                            <dd>
                                <p><b>Be humble and open...</b>
                                    <br>On the next page choose your Insight Givers and give yourself feedback.</p>
                            </dd>
                        </dl>
                    </div>
                    <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/arr.png', class: 'arr' %>
                        <br class="arrd">
                        <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/arr-down.png', class: 'arrd' %>
                            <br class="arrd">
                            <div class="pbox">
                                <div class="num">3</div>
                                <dl>
                                    <dt class="dt__header--multi">Gathering Data</dt>
                                    <dd>
                                        <p><b>Be fast and fluid...</b></p>
                                        <p>Your chosen Insight Givers will be immediately asked to give you feedback within 21 days. If they haven't done so 7 days before the deadline, they will be gently reminded to complete.</p>
                                    </dd>
                                </dl>
                            </div>
                            <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/arr.png', class: 'arr' %>
                                <br class="arrd">
                                <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/arr-down.png', class: 'arrd' %>
                                    <br class="arrd">
                                    <div class="pbox">
                                        <div class="num">4</div>
                                        <dl>
                                            <dt class="dt__header--multi">Getting Insight</dt>
                                            <dd>
                                                <p class="sub_p_80"><b>Take care of your leadership craft...</b></p>
                                                 <p>21 days after you have chosen your Insight Givers, your Personal Impact Report will be available on your dashboard.</p>
                                            </dd>
                                        </dl>
                                    </div>
        </div>
    </div>
</div>
<div id="plat"></div>

<div class="maincont">
    <div class="container">
        <div class="row">
            <form class="frm col-md-6">
                <div class="cnt">1</div>
                <div class="inputs">
                    <p>Check, add, or amend your details</p>
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                    <input type="text" placeholder="Email" />
                </div>
            </form>
            <div class="col-md-6 cbot">
                <p>Choose your appropriate Personal Impact Questionnaire</p>
                <div class="sqb pull-left active">
                    <h3>Personal Impact Experience</h3>
                    <p>This is for all those at King who have line management responsibility.</p>
                    <div class="btncont">
                        <a href="dashboard" class="btn">Next</a>
                    </div>
                </div>
                <div class="sqb pull-left">
                    <h3>Leadership Impact Experience</h3>
                    <p>This is for those more senior managers or those managers who aspire to this and want to see where their development lies.</p>
                    <div class="btncont">
                        <a href="#" class="btn">Coming Soon</a>
                    </div>
                </div>
                <br class="clear">
            </div>
            <br class="clear">
        </div>
    </div>
</div>