<div class="pt-3">

        <div class="d-flex flex-sm-wrap align-items-baseline justify-content-center flex-610px-wrap">
          <div class="p-1 ">
            <div class="button1-bg<%= active == 1?'-active':'' %>">
              <div class="button1-bg">
                <a href="s1_statement"><button class="button1">1 </button></a>
              </div>
            </div>
          </div>

          <div class="p-1 ">
            <div class="button2-bg<%= active == 2?'-active':'' %>">
              <a href="s2_statement"><button class="button2">2</button></a>
            </div>
          </div>

          <div class="p-1  ">
            <div class="button3-bg<%= active == 3?'-active':'' %>">
              <a href="s3_statement"><button class="button3">3</button></a>
            </div>
          </div>

          <div class="p-1 ">
            <div class="button4-bg<%= active == 4?'-active':'' %>">
              <a href="s4_statement"><button class="button4">4</button></a>
            </div>
          </div>

          <div class="p-1  ">
            <div class="button5-bg<%= active == 5?'-active':'' %>">
              <a href="s5_statement"><button class="button5">5</button></a>
            </div>
          </div>

          <div class="p-1 ">
            <div class="button6-bg<%= active == 6?'-active':'' %>">
              <a href="s6_quotations"><button class="button6">6</button></a>
            </div>
          </div>

          <div class="p-1 ">
            <div class="button7-bg<%= active == 7?'-active':'' %>">
              <a href="s7_books"><button class="button7">7</button></a>
            </div>
          </div>

          <div class="p-1 ">
            <div class="button8-bg<%= active == 8?'-active':'' %>">
              <a href="s8_headlines"><button class="button8">8</button></a>
            </div>
          </div>
        </div>

</div>