<div class="row"><%= form_tag(url: "/search", method: "get") do %>
	<div class="container-fluid">
		<div class="pad1">
			<div class="column-fluid">
				<h1>Your actions and behaviours</h1><%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 63} %>
      </div>
      <h2>Tell us about your preferences. Looking at one block of statements at a time, indicate which statements are most like you, partially like you and least like you</h2>
      <% y = 1; while y <= 2 %>
        <div class="form-group radio-group radio-group-tabs">

        <div class="actions">
        <% x = 1; while x <= 3 %>
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 actions-question pull-left">
                <p>Making sense of complex strategic challenges</p>
              </div>
              <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 pull-right">
                  <div class="actions-option">
                      <div class="input-group">
                          <label class="custom-radio">
                              <input type="radio" name="radio7<%=x%>" checked>
                              <div class="card">Least like me</div>
                          </label>
                      </div>
      
                      <div class="input-group">
                          <label class="custom-radio">
                              <input type="radio" name="radio7<%=x%>">
                              <div class="card">Partially like me</div>
                          </label>
                      </div>
      
                      <div class="input-group">
                          <label class="custom-radio">
                              <input type="radio" name="radio7<%=x%>">
                              <div class="card">Most like me</div>
                          </label>
                      </div>
      
                  </div>
              </div>
          </div>
          <% x = x + 1; end %>
      </div>
      </div>
      <% y = y + 1; end %>

      <h2>Option 2</h2>
      <div class="form-group radio-group radio-group-tabs">
        <p class="p-highlight">Tell us about your preferences. Which of these statements are the most like you and least like you? Drag the the ranking boxes next to the senteces in an order from the most like you to the least like you</p>
        <% z = 1; while z <= 3 %>
        <div class="actions">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 actions-question pull-left">
                  <p>Making sense of complex strategic challenges.</p>
              </div>
              <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 pull-right">
                  <div class="actions-option">
                      <input type="text" class="input-highlight" />
                      <div class="input-group">
                          <label class="custom-radio">
                              <input type="radio" name="radio122" checked>
                              <div class="card">Most like me</div>
                          </label>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <% z = z + 1; end %>
      </div>

        <div class="row dir-btns"><%= link_to "< Back", "", target:'blank', class:'btn btn-directional pull-left' %><%= submit_tag "Next >", data: { confirm: "Send" }, class: "btn btn-directional btn-right pull-right" %>
        </div>
        
		</div>
	</div><% end %>
</div>