<div class="row">
  <div class="col-sm-6">
    <div class="pad1">
    	 <h1 class="h1-highlight">Welcome Sally</h1>
      
      <p>Welcome to Retail Leader Insights. You are participating in an insights questionnaire for the colleague(s) listed below. The insight you provide will support their future growth as a Retail Leader.</p>
      
			<p>One questionnaire will take approximately 20-30 minutes to finish. Try to complete the questionnaire(s) in one sitting. If you prefer, you can also pause and come back to the questionnaire(s) another time. Answer the questions honestly and accurately and use the full range of the scales provided.</p>
			
			<p>The insights from you and other contributors will be combined into a final report for your colleague(s). Unless you are their line manager, your responses will remain anonymous as this questionnaire has been sent to several other people in addition to yourself.</p>
						
			<p>Thank you.</p>
      
   
    
    <div class="div-opaque trans">
  			<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/popup" %>
	    	<h5>Our Privacy Policy</h5>
	    	<p>The Cirrus Connect <%= link_to "Privacy Policy", "#collapsePopup", "data-toggle":"collapse" %> explains how information is collected and managed as part of the activity 
	    	(<%= link_to "More Details" %>).
	    	To accept our policy and proceed to the questionnaire please check the box below.</p>

	    	<p>
	    		<input type="checkbox" /> <label>I agree for the information to be used in accordance with the Cirrus Connect Privacy Policy. If you do not wish to take part, please let us know.</label>
	    	</p>
	    	
	    	<div class="clearfix"></div>

	    </div>
	 </div>
	    
  </div>

  <div class="col-sm-6">
  	<div class="pad1 hr-left">
  		<h5>You can access the questionnaires below.</h5>
  		
  		<div class="container-fluid div-opaque-grid">
  			<div class="col-md-4">
  				<div class="container">
  					<p>Participant 1</p>
  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 63} %>
  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
  				</div>
  				
  			</div>
  			<div class="col-md-4">
  				<div class="container">
  					<p>Participant 2</p>
  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 2} %>
  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
  				</div>
  			</div>
  			<div class="col-md-4">
  				<div class="container">
  					<p>Participant 3</p>
  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 4} %>
  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
  				</div>
  			</div>
  			<div class="col-md-4">
  				<div class="container">
  					<p>Participant 4</p>
  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 37} %>
  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
  				</div>
  			</div>
  			<div class="col-md-4">
  				<div class="container">
  					<p>Participant 5</p>
  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 15} %>
  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
  				</div>
  			</div>
  			<div class="col-md-4">
  				<div class="container">
  					<p>Participant 6</p>
  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 0} %>
  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
  				</div>
  			</div>
  		</div>

  		<p class="container"><a href="" class="btn btn-directional"><span class="material-icons">mail_outline</span><span>Contact Support</span></a></p>

    </div>
  </div>  
</div>


