<div class="row">
  <div class="col-sm-6">
    <div class="pad1">
    	 <h1>Your experience, knowledge, actions and behaviour</h1>
      
      <p>Welcome to Retail Leader Insights.</p>
      
			<p>You are participating in an insights questionnaire. It will provide you with information supporting your future growth as a Retail Leader.</p>
			
			<p>You are now about to complete your self-insight questionnaire.</p>
			
			<p>This self-insight questionnaire is in three sections:</p>
			
			<ul>
				<li><span class="p-highlight">Section 1:</span> Your knowledge and experience</li>
				<li><span class="p-highlight">Section 2:</span> Your career aspirations</li>
				<li><span class="p-highlight">Section 3:</span> Your actions and behaviours</li>
			</ul>
			
			<p>
All sections will take approximately 35 minutes to finish. Try to com- plete the questionnaire in one sitting. If you prefer, you can also pause and come back to it another time. Answer the questions honestly and use the full range of scales provided.
			</p>
			
			<p>
The insights from all of the activities completed by you and your col- leagues will be combined into a final report for you. This report will be shared with you during your 1:1 feedback session with a coach.
			</p>
			
			<p>Thank you.</p>
      
    </div>
  </div>
  <div class="col-sm-6">
  	<div class="pad1">
  		<div class="div-opaque">
  			<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/popup" %>
	    	<h5>Our Privacy Policy</h5>
	    	<p>The Cirrus Connect <%= link_to "Privacy Policy", "#collapsePopup", "data-toggle":"collapse" %> explains how information is collected and managed as part of the activity 
	    	(<%= link_to "More Details" %>).
	    	To accept our policy and proceed to the questionnaire please check the box below.</p>

	    	<p>
	    		<input type="checkbox" /> <label>I agree for the information to be used in accordance with the Cirrus Connect Privacy Policy. If you do not wish to take part, please let us know.</label>
	    	</p>
	    	
	    	<div class="clearfix"></div>
	    	
	    </div>
    </div>
  </div>  
</div>

<div class="row dir-btns">
		<%= link_to "< Portal", "", target:'blank', class:'btn btn-directional pull-left' %>
		<%= link_to "Start >", "", target:'blank', class:'btn btn-directional pull-right' %>
</div>

