<style>
	.txt-negative{
		background: #000;
	}
	h4 {
		background: #0075B0;
	}
</style>

<div class="idx">

	<h1>Main</h1>
	
	<%= link_to "Page 1", "/standard_chartered/portal/retail_leader/page_1", target:'blank' %> <br />
	<%= link_to "Page 2", "/standard_chartered/portal/retail_leader/page_2", target:'blank' %> <br />
	<%= link_to "Page 3", "/standard_chartered/portal/retail_leader/page_3", target:'blank' %> <br />
	<%= link_to "Page 4", "/standard_chartered/portal/retail_leader/page_4", target:'blank' %> <br />
	<%= link_to "Page 5", "/standard_chartered/portal/retail_leader/page_5", target:'blank' %> <br />
	<%= link_to "Page 6", "/standard_chartered/portal/retail_leader/page_6", target:'blank' %> <br />
	<%= link_to "Page 7", "/standard_chartered/portal/retail_leader/page_7", target:'blank' %> <br />
	<%= link_to "Page 8", "/standard_chartered/portal/retail_leader/page_8", target:'blank' %> <br />
	<%= link_to "Page 9", "/standard_chartered/portal/retail_leader/page_9", target:'blank' %> <br />
	<%= link_to "Page 10", "/standard_chartered/portal/retail_leader/page_10", target:'blank' %> <br />
	<%= link_to "Page 11", "/standard_chartered/portal/retail_leader/page_11", target:'blank' %> <br />
	<%= link_to "Page 12", "/standard_chartered/portal/retail_leader/page_12", target:'blank' %> <br />
	<%= link_to "Page 13", "/standard_chartered/portal/retail_leader/page_13", target:'blank' %> <br />
	<%= link_to "Page 14", "/standard_chartered/portal/retail_leader/page_14", target:'blank' %> <br /> <br />

	<h1>LINE MANAGER VIEW</h1>
	<%= link_to "Page 15", "/standard_chartered/portal/retail_leader/page_15", target:'blank' %> <br />
	<%= link_to "Page 16", "/standard_chartered/portal/retail_leader/page_16", target:'blank' %> <br />
	<%= link_to "Page 17", "/standard_chartered/portal/retail_leader/page_17", target:'blank' %> <br />
	<%= link_to "Page 18", "/standard_chartered/portal/retail_leader/page_18", target:'blank' %> <br />
	<%= link_to "Page 19", "/standard_chartered/portal/retail_leader/page_19", target:'blank' %> <br />
	<%= link_to "Page 20", "/standard_chartered/portal/retail_leader/page_20", target:'blank' %> <br />
	<%= link_to "Page 21", "/standard_chartered/portal/retail_leader/page_21", target:'blank' %> <br />
	<%= link_to "Page 22", "/standard_chartered/portal/retail_leader/page_22", target:'blank' %> <br />
	<%= link_to "Page 23", "/standard_chartered/portal/retail_leader/page_23", target:'blank' %> <br /> <br />

	<h1>PEER/DIRECT REPORT’S VIEW</h1>
	<%= link_to "Page 24", "/standard_chartered/portal/retail_leader/page_24", target:'blank' %> <br />
	<%= link_to "Page 25", "/standard_chartered/portal/retail_leader/page_25", target:'blank' %> <br />
	<%= link_to "Page 26", "/standard_chartered/portal/retail_leader/page_26", target:'blank' %> <br />
	<%= link_to "Page 27", "/standard_chartered/portal/retail_leader/page_27", target:'blank' %> <br />
	

</div>