<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Complete Your Assessment" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CustomView2" %>">

    <%= stylesheet_link_tag "custom/cirrus/connected_leadership/style", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- improves HTML5 support in older version of Internet Explorer -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <%= javascript_include_tag 'respond', "data-turbolinks-track" => true %>
    <![endif]-->
  </head>
  <body>
    <div id="top"></div>
    <main role="main">
      <%= render 'layouts/messages' %>
      <div class="page <%= yield_or_default(:page_border, "page-border") %> questionnaire margin-top">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
