<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 debug-border'>


      <h1>Questionnaire</h1>
      <hr>

      <p>
        Use the rating scale to indicate your response to each statement, from 1 = Almost Never, 2 = Not very Often, 3= Some Of The Time, 4 = Most Of The Time, 5 = Nearly Always
      </p>


      <% (1..3).each do |question_number| %>
        <div class="question row margin-top-x2">
          <div class="col-md-8" style='padding-left:10px;'>
            <div class='row'>
              <div class='col-md-1 red-text'>
                <span><%= question_number %>.</span>
              </div>
              <div class='col-md-11' style='margin-left:0;'>
                Providing me colleagues with practical support when they are under work pressure
              </div>
            </div>
          </div>

          <div class="col-md-4 text-right">
            <div class="btn-group" data-toggle="buttons">
              <% (1..5).each do |scale_number| %>
                <button id="highlight" type="button" class="btn btn-default">
                  <input type="radio" name="question_<%= question_number %>_scale_1" id="question_<%= question_number %>_scale_1_<%= scale_number %>" value="<%= scale_number %>"><%= scale_number %>
                </button>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    </div>


    <div class='col-md-10 col-md-offset-1 margin-top-x2 margin-bottom-x2 debug-border'>
      <div class='margin-top row'>
        <div class='col-md-9 text-left'>
          <div class='btn-group btn-progress'>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/1">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/2">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/3">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/4">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/5">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/6">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/7">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/8">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/9">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/10">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/11">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/12">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/13">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/14">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/15">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/16">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/17">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/18">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/19">&nbsp;</a>
            <a class="btn btn-primary btn-md" href="/am/aqa/RP6NFS5DycelTI4YsdcOon1vxFO2tTHPgIkFUtlerCwQqBsihSDh3_qkhA/20">&nbsp;</a>
            <a disabled="disabled" class="btn btn-default btn-md" href="">&nbsp;</a>
            <a disabled="disabled" class="btn btn-default btn-md" href="">&nbsp;</a>
            <a disabled="disabled" class="btn btn-default btn-md" href="">&nbsp;</a>
          </div>
        </div>

        <div class='col-md-3 text-right'>
          <%= link_to "Back", "/custom/sample_client/new_tool/data_collection_controller/introduction", class:'btn btn-primary' %>
          <%= link_to "Next", "/custom/sample_client/new_tool/data_collection_controller/additional_intro", class:'btn btn-primary' %>
        </div>

      </div>
    </div>

  </div>
</div>

