<div class="container page  page-border questionnaire margin-top">
   <div class='row'>
    <div class='col-md-12'>



      <!-- Top Images -->

      <div class="row">
        <div class="col-xs-6">
          <%= image_tag 'custom/heidrick_and_struggles/taq-logo.png', height: "100%", width: "100%:" %>
        </div>

        <div class="col-xs-6">
          <div class="pull-right">
            <%= image_tag "custom/heidrick_and_struggles/hs-logo.png", height:"100%", width:"100%" %>
          </div>
        </div>

      </div>


      <!-- Portal Links -->

      <div class='row'>
        <div class='col-md-12 text-right'>
          <%= link_to "Portal", "/hs/taq/portal" %>
          &nbsp;|&nbsp;
          <%= link_to "Logout", "/users/sign_out" %>
        </div>
      </div>

      <!-- Panel One -->

      <div class="row margin-top-x2">

        <div class="col-md-3 col-md-push-9">
          <div class="panel panel-primary">
            <div class="panel-heading">

              <h2 class="panel-title">
                &nbsp;
              </h2>

            </div>
            <!-- Panel body -->
            <div class="panel-body text-center">
              <div class="progress margin-bottom-half">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 91%;">
                  91%
                </div>
              </div>

              <div class="text-center">
                Page 6 of 24
              </div>

              <div class='col-xs-12 text-justify margin-top'>
                <small>
                  <p><strong><i>Information</i></strong></p>
                </small>
                <p><small>To select your rating, use your mouse to click on the response which best refleects your evaluation of the team.</small></p>
              </div>

              <div class='col-xs-12 text-justify margin-top'>
                <small>
                  <ul class='text-left' style='padding-left:20px;list-style:none;display:block;'>
                    <li>1 = Strongly disagree</li>
                    <li>2 = Disagree</li>
                    <li>3 = Neither agree nor disagree</li>
                    <li>4 = Agree</li>
                    <li>5 = Strongly agree</li>
                    <li>CS = Cannot say</li>
                  </ul>
                </small>
              </div>

            </div>
          </div>
        </div>

        <!-- Panel Two -->

        <div class="col-md-9 col-md-pull-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <!--panel body -->

              <h2 class="panel-title">
                Team Accelerator: Additional Questions
              </h2>

            </div>

            <div class="panel-body">

              <p>Please review the following statement:</p>

         <div class="table-responsive">
            <table class="table table-stripe table-grid table-hover">
              <tbody>
                <!-- questions (loop) -->
                  <div>

                  <tr>
                  <td>
                    <div class='margin-top col-md-12'>
                      Taking everything into consideration, what is your evaluation of the overall performance of the team?
                    </div>
                    <div class='col-md-6 col-md-offset-3 margin-top margin-bottom '>

                  <div class="btn-group btn-group-vertical btn-block" data-toggle="buttons">

                      <label class="btn btn-default btn-wrap-text active">
                        <input type="radio" name="question_193_scale_21" id="question_193_scale_21_1" value="1" checked="checked" />
                        1.&nbsp;&nbsp;Ineffective
                      </label>

                      <label class="btn btn-default btn-wrap-text ">
                        <input type="radio" name="question_193_scale_21" id="question_193_scale_21_2" value="2" />
                        2.&nbsp;&nbsp;Somewhat ineffective
                      </label>

                      <label class="btn btn-default btn-wrap-text ">
                        <input type="radio" name="question_193_scale_21" id="question_193_scale_21_3" value="3" />
                        3.&nbsp;&nbsp;Effective
                      </label>

                      <label class="btn btn-default btn-wrap-text ">
                        <input type="radio" name="question_193_scale_21" id="question_193_scale_21_4" value="4" />
                        4.&nbsp;&nbsp;Very effective
                      </label>

                      <label class="btn btn-default btn-wrap-text ">
                        <input type="radio" name="question_193_scale_21" id="question_193_scale_21_5" value="5" />
                        5.&nbsp;&nbsp;Exceptional
                      </label>

                      <label class="btn btn-default btn-wrap-text ">
                          <input type="radio" name="question_193_scale_21" id="question_193_scale_21_-128" value="-128" />
                          Cannot say
                      </label>
                  </div>
                    </div>
                  </td>
                  </tr>

                  </div>
              </tbody>
            </table>



            <div class="panel-body text-center">

              <%= link_to "Back", "", class:"btn btn-default" %>

              &nbsp;

              <%= link_to "Next", "", class:"btn btn-primary" %>
            </div>

        </div>
      </div>
    </div>
  </div>
