<div class="container page  page-border questionnaire margin-top">
   <div class='row'>
    <div class='col-md-10 col-md-offset-1'>

      <div class="row">
        <div class="col-xs-6">
          <%= image_tag 'custom/heidrick_and_struggles/taq-logo.png', height: "100%", width: "100%:" %>
        </div>

        <div class="col-xs-6">
          <div class="pull-right">
            <%= image_tag "custom/heidrick_and_struggles/hs-logo.png", height:"100%", width:"100%" %>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 text-right'>
          <%= link_to "Portal", "/hs/taq/portal" %>
          &nbsp;|&nbsp;
          <%= link_to "Logout", "/users/sign_out" %>
        </div>
      </div>

      <div class="row margin-top-x2">

        <div class="col-md-3 col-md-push-9 hidden-sm hidden-xs">
          <div class="panel panel-primary">
            <div class="panel-heading">

              <h2 class="panel-title">
                &nbsp;
              </h2>

            </div>

            <div class="panel-body text-center">
              <%= image_tag "custom/heidrick_and_struggles/report_right_panel_graphic.png", height:"100%", width:"100%" %>
            </div>

          </div>
        </div>



        <div class="col-md-9 col-md-pull-3">
          <div class="panel panel-primary">
            <div class="panel-heading">

              <h2 class="panel-title">
                Background Information
              </h2>

            </div>

            <div class="panel-body">

              <h4>About You</h4>


      <% (1..9).each do |question_number| %>

        <div>
          <div>

            <hr>
            <input type="hidden" name="demographic_question_15_asked" id="demographic_question_15_asked" value="true" />
              <strong>Gender</strong><br>
              <select name="demographic_question_15_demographic_question_response_id" id="demographic_question_15_demographic_question_response_id"><option value=""> -- Select One -- </option><option value="250">Very unlikely</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </input>
          </div>
        </div>


      <% end %>

        <hr>

            <div class="panel-body text-center">

              <%= link_to "Back", heidrick_and_struggles_taq_standard_introduction, class:"btn btn-default" %>

              &nbsp;

              <%= link_to "Next", heidrick_and_struggles_taq_standard_table_questionnaire_path, class:"btn btn-primary" %>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
