<style>
	.txt-negative{
		background: #000;
	}
	h4 {
		background: #0075B0;
	}
</style>

<div class="idx">

<%= link_to "Page 1", "/heidrick_and_struggles/infinity_framework_v1/page_1", target:'blank' %> <br />
<%= link_to "Page 2", "/heidrick_and_struggles/infinity_framework_v1/page_2", target:'blank' %> <br />
<%= link_to "Page 3", "/heidrick_and_struggles/infinity_framework_v1/page_3", target:'blank' %> <br />
<%= link_to "Page 4", "/heidrick_and_struggles/infinity_framework_v1/page_4", target:'blank' %> <br />
<%= link_to "Page 5", "/heidrick_and_struggles/infinity_framework_v1/page_5", target:'blank' %> <br />
<%= link_to "Page 6", "/heidrick_and_struggles/infinity_framework_v1/page_6", target:'blank' %> <br />
<%= link_to "Page 7", "/heidrick_and_struggles/infinity_framework_v1/page_7", target:'blank' %> <br />
<%= link_to "Page 8", "/heidrick_and_struggles/infinity_framework_v1/page_8", target:'blank' %> <br />
<%= link_to "Page 9", "/heidrick_and_struggles/infinity_framework_v1/page_9", target:'blank' %> <br />
<%= link_to "Page 10", "/heidrick_and_struggles/infinity_framework_v1/page_10", target:'blank' %> <br />
<%= link_to "Page 11", "/heidrick_and_struggles/infinity_framework_v1/page_11", target:'blank' %> <br />
<%= link_to "Page 12", "/heidrick_and_struggles/infinity_framework_v1/page_12", target:'blank' %> <br />
<%= link_to "Page 13", "/heidrick_and_struggles/infinity_framework_v1/page_13", target:'blank' %> <br />
<%= link_to "Page 14", "/heidrick_and_struggles/infinity_framework_v1/page_14", target:'blank' %> <br /> 
<%= link_to "Page 15", "/heidrick_and_struggles/infinity_framework_v1/page_15", target:'blank' %> <br />
<%= link_to "Page 16", "/heidrick_and_struggles/infinity_framework_v1/page_16", target:'blank' %> <br />
<%= link_to "Page 17", "/heidrick_and_struggles/infinity_framework_v1/page_17", target:'blank' %> <br />
<%= link_to "Page 18", "/heidrick_and_struggles/infinity_framework_v1/page_18", target:'blank' %> <br />
<%= link_to "Page 19", "/heidrick_and_struggles/infinity_framework_v1/page_19", target:'blank' %> <br />
<%= link_to "Page 20", "/heidrick_and_struggles/infinity_framework_v1/page_20", target:'blank' %> <br />
<%= link_to "Page 21", "/heidrick_and_struggles/infinity_framework_v1/page_21", target:'blank' %> <br />
<%= link_to "Page 22", "/heidrick_and_struggles/infinity_framework_v1/page_22", target:'blank' %> <br />
<%= link_to "Page 23", "/heidrick_and_struggles/infinity_framework_v1/page_23", target:'blank' %> <br /> 
<%= link_to "Page 24", "/heidrick_and_struggles/infinity_framework_v1/page_24", target:'blank' %> <br />
<%= link_to "Page 25", "/heidrick_and_struggles/infinity_framework_v1/page_25", target:'blank' %> <br />
<%= link_to "Page 26", "/heidrick_and_struggles/infinity_framework_v1/page_26", target:'blank' %> <br />
<%= link_to "Page 27", "/heidrick_and_struggles/infinity_framework_v1/page_27", target:'blank' %> <br />
<%= link_to "Page 28", "/heidrick_and_struggles/infinity_framework_v1/page_28", target:'blank' %> <br />
<%= link_to "Page 29", "/heidrick_and_struggles/infinity_framework_v1/page_29", target:'blank' %> <br />
<%= link_to "Page 30", "/heidrick_and_struggles/infinity_framework_v1/page_30", target:'blank' %> <br />
<%= link_to "Page 31", "/heidrick_and_struggles/infinity_framework_v1/page_31", target:'blank' %> <br />
<%= link_to "Page 32", "/heidrick_and_struggles/infinity_framework_v1/page_32", target:'blank' %> <br />
<%= link_to "Page 33", "/heidrick_and_struggles/infinity_framework_v1/page_33", target:'blank' %> <br />
<%= link_to "Page 34", "/heidrick_and_struggles/infinity_framework_v1/page_34", target:'blank' %> <br />
<%= link_to "Page 35", "/heidrick_and_struggles/infinity_framework_v1/page_35", target:'blank' %> <br />


</div>